#sidebar {
  width: 100%;
  height: 100vh;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #F3B749 ;
  padding-top: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}


#sidebar ul li a:hover {
  color: #007bff;
}
#sidebar .sidebar-item {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  width: 100%;
  padding: 0 12px;
  border-radius: 6px;
}
#sidebar  a:hover {
  background-color: #007bff !important;
  cursor: pointer;
  color: #fff;
}
#sidebar .active {
  background-color: #007bff !important;
  color: #fff;
}